version: '3.8'

services:
  # 1. Frontend (Next.js App)
  translatesphere-v2-web-frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TS_WEBAPP_BUILD_VARIANT: ${TS_WEBAPP_BUILD_VARIANT}
        TS_WEBAPP_PROXY_CONNECTION_STRING: ${TS_WEBAPP_PROXY_CONNECTION_STRING}
    container_name: ts-v2-webapp
    image: translatesphere-v2-web-frontend:2026.01.07..1
    restart: always

  translatesphere-v2-web-nginx:
    image: nginx:1.25.4-alpine
    container_name: ts-v2-webapp-nginx-2026-01-07-1
    restart: always
    ports:
      - "13000:13000" 
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - translatesphere-v2-web-frontend
